{% load static %}
<div class="row m-2">
  {% for category, subcategories_data in grouped_postsdata.items %}
  <div class="col-lg-6 col-md-12 col-sm-12 mb-2 row-p-0">
    <div class="spotlite-bg Container_background">
      <div class="top-menu">
        <div class="menu-left">
          <i class="fas fa-newspaper icon"></i>
          <span class="main-label">{{ category.cat_name }}</span>
        </div>
        <div class="menu-right">
          {% for subcat in subcategories_data.subcategories|slice:":2" %}
          <a href="/{{ category.cat_slug }}/{{ subcat.subcat_slug }}">{{ subcat.subcat_name }}</a>
          {% endfor %}
          <div class="dropdown">
            <button class="dropbtn">...</button>
            <div class="dropdown-content">
              {% for subcat in subcategories_data.subcategories|slice:"2:" %}
              <a href="/{{ category.cat_slug }}/{{ subcat.subcat_slug }}">{{ subcat.subcat_name }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="news-container">
        <div class="row">
          {% for subcat in subcategories_data.subcategories|slice:":1" %}
          <div class="col-lg-8 col-md-7 col-sm-12 mb-4">
            <div class="news-card items_background large">
              {% for post in subcategories_data.posts|slice:":1" %}
              <a href="/{{ post.slug }}">
                <img src="../upload/{{ post.post_image }}" />
              </a>
              <div class="news-content">
                <h3>
                  <a href="/{{ post.slug }}">
                    {{ post.post_title|truncatechars:80 }}
                  </a>
                </h3>
                <div class="meta">
                  <span>{{ post.schedule_date|date }} | {{ post.schedule_date|time }}</span>
                  <div class="shere-shinu" style="--custom-bottom: 0px; --custom-right: 0px;">
                    {% include 'share.html' with posts=post %}
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
          <div style="height: 370px;" class="col-lg-4 col-md-5 col-sm-12 mb-4">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5922835412614482"
            crossorigin="anonymous"></script>
            <ins class="adsbygoogle"
                 style="display:inline-block;width:215px;height:370px"
                 data-ad-client="ca-pub-5922835412614482"
                 data-ad-slot="6367481659"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
        </div>
      </div>

      <div class="uaenews-list-section">
        <div class="container">
          <div class="row g-4">
            <div class="col-lg-6 col-md-12 cust-pl-0">
              <div class="news-list">
                {% for post in subcategories_data.posts|slice:"1:5" %}
                <div class="items_background d-flex border-bottom my-3 p-2">
                  <a style="display: flex;" href="/{{ post.slug }}">
                    <img style="object-fit: contain !important;" src="{{post.thumbnail_url}}" />

                  </a>
                  <div class="text-left col-9">
                    <h6 class="mb-1">
                      <a href="/{{ post.slug }}">
                        {{ post.post_title|truncatechars:55 }}
                      </a>
                    </h6>
                    <div class="meta">
                      <span>{{ post.schedule_date|date }} | {{ post.schedule_date|time }}</span>
                      <div style="--custom-bottom: 0px; --custom-right: 0px;">
                        {% include 'share.html' with posts=post %}
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="col-lg-6 col-md-12 cust-pr-0">
              {% for post in subcategories_data.posts|slice:"5:6" %}
              <div class="featured-news items_background d-flex flex-column">
                <a href="/{{ post.slug }}">
                  <img src="{{post.thumbnail_url}}" class="img-fluid rounded mb-3" />

                </a>
                <div class="text-left">
                  <h6 class="my-2">
                    <a href="/{{ post.slug }}">
                      {{ post.post_title|truncatechars:70 }}
                    </a>
                  </h6>
                  <div class="meta">
                    <span>{{ post.schedule_date|date }} | {{ post.schedule_date|time }}</span>
                    <div style="--custom-bottom: 0px; --custom-right: 0px;">
                      {% include 'share.html' with posts=post %}
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              {% for post in subcategories_data.posts|slice:"6:7" %}
              <div class="items_background d-flex border-bottom my-3 p-2">
                <a style="display: flex;" href="/{{ post.slug }}">
                  <img style="object-fit: contain !important;" src="../upload/{{ post.post_image }}" />
                </a>
                <div class="text-left col-9">
                  <h6 class="mb-1">
                    <a href="/{{ post.slug }}">
                      {{ post.post_title|truncatechars:55 }}
                    </a>
                  </h6>
                  <div class="meta">
                    <span>{{ post.schedule_date|date }} | {{ post.schedule_date|time }}</span>
                    <div style="--custom-bottom: 0px; --custom-right: 0px;">
                      {% include 'share.html' with posts=post %}
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="row my-2">
  <div class="col-lg-6 col-md-12">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5922835412614482"
      crossorigin="anonymous"></script>
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5922835412614482" data-ad-slot="2979021120"
      data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  <div class="col-lg-6 col-md-12">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5922835412614482"
      crossorigin="anonymous"></script>
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5922835412614482" data-ad-slot="2979021120"
      data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>